
.vs/BackendChallenge/DesignTimeBuild/.dtbcache.v2
.vs/BackendChallenge/FileContentIndex/02c52ba2-4a0d-499e-bf9c-18a889f7f9b8.vsidx
.vs/BackendChallenge/FileContentIndex/03485e5e-6e8a-434c-afab-e3864193e36e.vsidx
.vs/BackendChallenge/FileContentIndex/0eb54bf5-3781-433d-8096-fea4cc003123.vsidx
.vs/BackendChallenge/FileContentIndex/1534b4a3-596d-4c9f-a253-7eadd8ad4aab.vsidx
.vs/BackendChallenge/FileContentIndex/273f86d3-43e5-4347-8fc0-29255d653673.vsidx
.vs/BackendChallenge/FileContentIndex/79cebd99-2e02-4009-aa90-4b813a08ff27.vsidx
.vs/BackendChallenge/FileContentIndex/8051f7c0-7562-4196-b9cb-b4d494e6f864.vsidx
.vs/BackendChallenge/FileContentIndex/906c558b-3966-4f74-98e5-e9d9296bceaf.vsidx
.vs/BackendChallenge/v17/.futdcache.v2
.vs/BackendChallenge/v17/.suo
.vs/BackendChallenge20220626/FileContentIndex/03fedb24-7cd1-448f-b21b-f4d32eb6a490.vsidx
.vs/BackendChallenge20220626/FileContentIndex/6f8544fb-097c-406e-bdac-d6278984dc2a.vsidx
.vs/BackendChallenge20220626/FileContentIndex/7ed502f9-9bf7-4a29-b738-4e5bcb98f8a8.vsidx
.vs/BackendChallenge20220626/FileContentIndex/8f1bb225-6d7f-4744-8509-57eff7885395.vsidx
.vs/BackendChallenge20220626/FileContentIndex/8ffc6031-06e6-4e9a-8944-7b8865763fd5.vsidx
.vs/BackendChallenge20220626/FileContentIndex/b8096a4b-4b4b-4c3a-83de-08aa280c6c5f.vsidx
.vs/BackendChallenge20220626/FileContentIndex/bbe5399f-1676-4e49-85ff-74bf183414ce.vsidx
.vs/BackendChallenge20220626/FileContentIndex/ff6fafb0-b846-470b-9238-7c5d819de42f.vsidx
.vs/BackendChallenge20220626/v17/.wsuo
.vs/ProjectEvaluation/backendchallenge.metadata.v5.2
.vs/ProjectEvaluation/backendchallenge.projects.v5.2
.vs/slnx.sqlite
*.vsidx
*.vsidx
*.sqlite
*.v2
